extends base.pug

block scripts
    script(src="/static/index.js") 

block style 
    style
      include ../static/style.css
      include ../static/styleContact.css

block content 
    div.container
        h1 Contant Us
        form(action="/contact",class='myForm', method="post") 
            input(type="text", class='myInput',name='name', placeholder='Enter your name')
            input(type="phone", class='myInput',name='phone', placeholder='Enter your Phone number')
            input(type="email", class='myInput',name='email', placeholder='Enter your email ID')
            input(type="text", class='myInput',name='address', placeholder='Enter your address')
            button.btn
                | submit
